<a href="https://colab.research.google.com/github/imtalha2003/AI-LAB-1/blob/main/Programming_for_ai_lab_task_(LIST_OPERATIONS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TAsk 1.	Access List Items:
•	Create a list of fruits.

•	Print the first and last items of the list.

In [20]:
fruits = ["Apple", "Banana", "Orange", "Grape", "Kiwi"]
print("First item:", fruits[0])
print("Last item:", fruits[-1])
print(fruits[1:-1])

First item: Apple
Last item: Kiwi
['Banana', 'Orange', 'Grape']

#Task 2.	Change List Items:

•	Create a list of colors.

•	Change the second item in the list to "blue".

In [3]:
colors = ["Red", "Green", "Yellow", "Purple"]
colors[1] = "Blue"
print("Updated colors:", colors)

Updated colors: ['Red', 'Blue', 'Yellow', 'Purple']

#Task 3.	Add List Items:
•	Create a list of numbers.

•	Add the number 10 at the end of the list.

In [4]:
numbers = [1, 2, 3, 4, 5]
numbers.append(10)
print("Updated numbers:", numbers)

Updated numbers: [1, 2, 3, 4, 5, 10]

#Task 4.	Remove List Items:
•	Create a list of animals.

•	Remove the third item from the list.

In [5]:
animals = ["Dog", "Cat", "Lion", "Elephant"]
del animals[2]
print("Updated animals:", animals)

Updated animals: ['Dog', 'Cat', 'Elephant']

#TAsk 5.	Loop Lists:
•	Create a list of cities.

•	Loop through the list and print each city.

In [6]:
cities = ["New York", "London", "Paris", "Tokyo"]
for city in cities:
    print(city)

New York
London
Paris
Tokyo

#Task 6.	List Comprehension:
•	Create a list of numbers from 1 to 10.

•	Use list comprehension to create a new list containing the square of each number.

In [7]:
numbers = [i for i in range(1, 11)]
squares = [num ** 2 for num in numbers]
print("Squared numbers:", squares)

Squared numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#TAsk 7.	Sort Lists:
•	Create a list of names.

•	Sort the list alphabetically.

In [8]:
names = ["Talha", "Ali", "Muzammil", "Rafay"]
names.sort()
print("Sorted names:", names)

Sorted names: ['Ali', 'Muzammil', 'Rafay', 'Talha']

#Task 8.	Copy Lists:
•	Create a list of fruits.

•	Copy the list into a new list.

In [10]:
fruits = ["Apple", "Banana", "Orange"]
fruits_copy = fruits.copy()
print("Copied list:", fruits_copy)
print("Original list:",fruits)

Copied list: ['Apple', 'Banana', 'Orange']
Original list: ['Apple', 'Banana', 'Orange']

#Task 9.	Join Lists:
•	Create two lists of numbers.

•	Join the two lists into a single list.

In [11]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print("Combined list:", combined_list)

Combined list: [1, 2, 3, 4, 5, 6]

# Task 10.	List Methods:
•	Create a list of fruits.

•	Use the append() method to add a new fruit to the list.

•	Use the pop() method to remove the last fruit from the list.

In [13]:
fruits = ["Apple", "Banana", "Orange"]
fruits.append("Grape")
print("Updated fruits:", fruits)
fruits.pop()
print("After popping:", fruits)

Updated fruits: ['Apple', 'Banana', 'Orange', 'Grape']
After popping: ['Apple', 'Banana', 'Orange']

# TAsk 11.	Combining Lists and List Comprehension:

•	Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10.

•	Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists.

In [14]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
sum_list = [x + y for x, y in zip(list1, list2)]
print("Sum list:", sum_list)

Sum list: [7, 9, 11, 13, 15]

#Task 12.	Filtering and Sorting:
Create a list of numbers.

•	Use list comprehension to create a new list containing only the even numbers from the original list.

•	Sort the new list in descending order.

In [15]:
numbers = [3, 6, 2, 8, 5, 9, 4, 7, 10, 12, 14, 15]
even_numbers = [num for num in numbers if num % 2 == 0]
even_numbers.sort(reverse=True)
print("Sorted even numbers:", even_numbers)

Sorted even numbers: [14, 12, 10, 8, 6, 4, 2]

#13.	List Slicing and Reversing:
•	Create a list of numbers from 1 to 10.

•	Use list slicing to create a new list containing only the even numbers from the original list, in reverse order.

In [27]:
numbers = list(range(1, 11))
even_reverse = numbers[-2::-2]
print("Even numbers in reverse:", even_reverse)

Even numbers in reverse: [9, 7, 5, 3, 1]

#14.	Combining Lists and List Methods:
•	Create two lists, one containing even numbers and another containing odd numbers.

•	Use list methods to combine the two lists into a single list, alternating between even and odd numbers.

In [24]:
even_numbers = [2, 4, 6, 8, 10]
odd_numbers = [1, 3, 5, 7, 9]
combined_list = []
for even, odd in zip(even_numbers, odd_numbers):
    combined_list.append(even)
    combined_list.append(odd)
print("Combined list:", combined_list)

Combined list: [2, 1, 4, 3, 6, 5, 8, 7, 10, 9]