<a href="https://colab.research.google.com/github/imtalha2003/AI-LAB-1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello world")

hello world

## Assignment Operator (=): It is used to assign a value to a variable. For example, x = 10 assigns the value 10 to the variable x.
## Equality Operator (==): It is used to compare two values. It returns True if the values are equal, otherwise False. For example, x == 10 checks if the value of x is equal to 10.

# Exploring Data Types and Writing Code:

In [ ]:

integer_var = 10


float_var = 3.14


string_var = "Hello, World!"


bool_var = True

print(integer_var,float_var,string_var,bool_var)

10 3.14 Hello, World! True

# Rules for Variable Names:

# Variable names must start with a letter (a-z, A-Z) or an underscore (_).
The rest of the variable name can consist of letters, numbers (0-9), and underscores.
Variable names are case-sensitive.
Variable names cannot be Python keywords.**


```

Declare and Initialize Multiple Variables:

In [7]:

x, y, z = 10, 20, 30

a = b = c = 5

#1name= "Talha"
#@age=13
Age=12
AGE=11
age=17
height2=5.7
reg_no="B22F0442Ai089"
section="Blue"
chr="T"


print(height2)
print(AGE)
print(Age)
print(age)


print(x,y,z)
print(a,b,c)

5.7
11
12
17
10 20 30
5 5 5

In [ ]:
a=  "talha"
b="b22f0442ai089"
c="section Ai blue"
d=" Sgpa ",3.2
print (a,"\n",b,"\n",c,"\n",d)

talha
 b22f0442ai089
 section Ai blue
 (' Sgpa ', 3.2)

# Arithmetic Operations

In [ ]:
A=11
B=12
C=A+B
D=A/B
E=A-B
F=A*B
print("A + B = ",C)
print("A - B = ",E)
print("A * B = ",F)
print("A / B = ",D)

A + B =  23
A + B =  23
A + B =  23
A + B =  23
A + B =  23
A - B =  -1
A * B =  132
A / B =  0.9166666666666666

In [ ]:
a=1
b=8
c=a+b,a-b,a*b,a/b
print(c)

(9, -7, 8, 0.125)

In [ ]:
a = int(input("Enter an integer number: "))

if a % 2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Enter an integer number: 1
Number is odd

STRING LITERALS

```

In [8]:
name='My name is TAlha'
myname="My name is Talha"
my_name="'My name is talha'"
print(name)
print(myname)
print(my_name)

My name is TAlha
My name is Talha
'My name is talha'

# EXAMPLE OF USING PRINT() FUNCTION

In [10]:

x = 10
print(x)


y = 20
print(x, y)


name = "TALHA"
age = 20
print(f"My name is {name} and I am {age} years old.")


a = 5
b = 3
print(f"The sum of {a} and {b} is {a + b}.")

10
10 20
My name is TALHA and I am 20 years old.
The sum of 5 and 3 is 8.